# exclude all by default

*

# exceptions from `exclude all` rule
!docker
!docker/**

!package.json
!yarn.lock

!version
!.yarn
!.yarn/**
!.yarnrc.yml
!.pnp.cjs
.yarn/cache
.yarn/install-state.gz

!tsconfig.json
!webpack/**
!src/main/**
!config/**
!public
!webpack.config.js
