# Environments & Dependencies
.env
.env.local
node_modules/
lib/
.yarn/
.yarn/*
!.yarn/
!.yarn/releases/
!.yarn/releases/*
!.yarn/plugins/

# Build & Compiled Assets
dist/
public/
.nyc_output
.sass-cache
*.css
.eslintcache
node-rpm-packaging/
version

# IDE & OS Files
.idea/
*.iml
*swp
*log
.DS_Store
.project
.settings/

# Testing & Reporting (Playwright/Allure/Jest)
allure-results/
allure-report/
allure-results-smoke/
playwright-report/
test-results/
test-results.json
coverage/
smoke-output/
functional-output/
mochawesome-report/
junit*.xml

# Project Specific Paths
src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/resources/localhost-ssl
src/main/views/govuk

# Misc
npm-debug.log.*
env.local
