.env
.env.local
node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

lib/

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/resources/localhost-ssl

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
dist/
public/
src/main/views/govuk
coverage/
smoke-output/
functional-output/
version

.eslintcache

.yarn/install-state.gz
.yarn/*
.yarn
.features-gen/src/test/functional/features/*.js
playwright-report/index.html
test-results.json
test-results/.last-run.json
allure-results/*.json
allure-results/junit-playwright.xml
allure-results/junit-smoke.xml
junit.xml
