{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Financial Remedy Dashboard</h1>
      <p class="govuk-body">This is a placeholder dashboard page.</p>
      <p class="govuk-body">You have been redirected here because you already have a linked Financial Remedy case.</p>
      
      <h2 class="govuk-heading-m">Upload documents</h2>
      <p class="govuk-body">Upload documents to support your financial remedy case.</p>
      <a href="/upload/before-you-start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Go to document upload
      </a>
    </div>
  </div>
{% endblock %}
