{% extends "template.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Documents</h1>

    <p class="govuk-body">
      Upload documents and submit them when ready.
    </p>

    {% if documentCount > 0 %}
      <div class="govuk-inset-text">
        {{ documentCount }} document(s) ready to submit
      </div>
    {% endif %}

    <h2 class="govuk-heading-m">Upload document</h2>

    <form method="post" action="/documents/upload" enctype="multipart/form-data">
      <div class="govuk-form-group">
        <label class="govuk-label" for="documentType">
          Select document type
        </label>

        <select
          class="govuk-select"
          id="documentType"
          name="documentType"
          required
        >
          <option value="">-- Select --</option>

          {% for type in documentTypes %}
            <option value="{{ type.value }}">
              {{ type.label }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file">
          Choose a file to upload
        </label>

        <input
          class="govuk-file-upload"
          id="file"
          name="file"
          type="file"
          required
        >
      </div>

      <button
        type="submit"
        class="govuk-button"
        data-module="govuk-button"
      >
        Upload document
      </button>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Submit documents</h2>

    <form method="post" action="/documents/send">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Financial Dispute Resolution
          </legend>

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="isFinacialDisputeResolution"
                name="isFinacialDisputeResolution"
                type="checkbox"
                {% if isFDR %}checked{% endif %}
              >
              <label
                class="govuk-label govuk-checkboxes__label"
                for="isFinacialDisputeResolution"
              >
                This is a Financial Dispute Resolution (FDR) submission
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        {% if documentCount == 0 %}
          disabled
        {% endif %}
      >
        Submit all uploaded documents
      </button>
    </form>

  </div>
</div>
{% endblock %}