{% extends "template.njk" %}

{% block pageTitle %}
  Financial Remedy Service
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply for a financial remedy</h1>

      <p class="govuk-body-l">
        Use this service to apply for a financial remedy order after divorce or dissolution.
      </p>

      <a href="/login" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Sign in to start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        You'll need to create an account or sign in to use this service.
      </p>

      <p class="govuk-body">
        This service uses GOV.UK One Login. If you don't have an account, you can create one when you sign in.
      </p>
    </div>
  </div>
{% endblock %}
