{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
  {{ govukServiceNavigation({
    serviceName: "Dividing your money and property",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
