{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "../macros/getting-help.njk" import gettingHelp %}

{% extends "template.njk" %}

{% block head %}
  {{ super() }}
  <meta name="gtm-one-time" content="{{globals.nonce}}">
  <!-- Google Tag Manager -->
  <script nonce='{{ globals.nonce }}'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N2TBV3X8');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2TBV3X8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% else %}
        <a href="/dashboard" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <h1 class="govuk-heading-l">Keeping information confidential for safety reasons</h1>

      <p class="govuk-body">
        If you have <a href="https://www.gov.uk/government/publications/form-c8-confidential-contact-details-family-procedure-rules-2010-rule-291" 
        target="_blank" rel="noopener noreferrer">applied to the court to keep your contact details confidential using form C8 (opens in new tab)</a>, 
        you must make sure that any document, either submitted now or at a later date, does not contain the information you wish to keep private.
      </p>

      <p class="govuk-body">
        You must redact (black out the text) any such information if you need to keep it 
        private from the other party. You can either do this:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>by hand, and then scanning or taking a photo of the redacted document and uploading it</li>
        <li>using a dedicated digital permanent redaction tool</li>
      </ul>

      <p class="govuk-body">
        Court staff are not able to check any documents you submit to the court for any unintentional disclosure of your details.
      </p>

      <p class="govuk-body">
        Confidential information could be, for example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>addresses</li>
        <li>any specific location details shown on bank statements or other documents</li>
        <li>phone numbers</li>
      </ul>

      <p class="govuk-body">
        Do not redact any financial amounts or payee details.
      </p>

      {{ govukWarningText({
        text: "Once you submit your documents they will be on the court record. They could be seen by the other party or referred to in a hearing.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
