{% from "../macros/getting-help.njk" import gettingHelp %}

{% extends "template.njk" %}

{% block head %}
  {{ super() }}
  <meta name="gtm-one-time" content="{{globals.nonce}}">
  <!-- Google Tag Manager -->
  <script nonce='{{ globals.nonce }}'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N2TBV3X8');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2TBV3X8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Documents uploaded
        </h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Your documents have been uploaded and have been saved to your case, ready for the judge to review at your hearing. <a href="/dashboard" class="govuk-link">They can be viewed from your account</a>.
      </p>

      <p class="govuk-body">
        You can come back anytime to upload more documents.
      </p>

      <p class="govuk-body">
        You will receive an email to confirm that the upload was successful.
      </p>

      <a href="/dashboard" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Close and return to your account
      </a>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
