{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "../macros/getting-help.njk" import gettingHelp %}
{% from "../macros/form-submit-button.njk" import formSubmitButton %}
{% from "../macros/form.njk" import form with context %}

{% extends "template.njk" %}

{% set pageTitle = "Removing your contact details to keep them private from the other party" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% else %}
        <a href="/dashboard" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">
        If you have <a href="https://www.gov.uk/government/publications/apply-to-keep-your-contact-details-confidential-form-c8" 
        target="_blank" rel="noopener noreferrer">applied to the court to keep your contact details private using form C8 (opens in new tab)</a>, 
        you must make sure that any document you submit does not contain information you want to keep private.
      </p>

      <h2 class="govuk-heading-m">Information you can make private</h2>
      <p class="govuk-body">The information you can keep private includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your address</li>
        <li>the name or contact details of any child in the case</li>
        <li>any specific location details shown on bank statements or other documents</li>
        <li>phone numbers</li>
      </ul>

      <h2 class="govuk-heading-m">Make sure you hide your details</h2>
      <p class="govuk-body">
        It is your responsibility to redact (black out the text of) any information you want to keep  private from the other party. You can either do this:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>by hand, and then scanning or uploading a photo of the redacted document</li>
        <li>using a dedicated digital permanent redaction tool</li>
      </ul>
      <p class="govuk-body">
        Do not redact any financial amounts or payee details.
      </p>

      {{ govukInsetText({
        text: "Court staff cannot check any documents you submit to the court to make sure you have redacted all the information you wanted."
      }) }}

      {{ govukWarningText({
        text: "Once you submit your documents they will be on the court record. They could be referred to in a hearing.",
        iconFallbackText: "Warning"
      }) }}

      {% call form({}) %}
        {{ formSubmitButton({ text: "Continue" }) }}
      {% endcall %}
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
