{% from "../macros/getting-help.njk" import gettingHelp %}
{% from "../macros/autocomplete.njk" import autocomplete %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "template.njk" %}

{% block head %}
  {{ super() }}
  <meta name="gtm-one-time" content="{{globals.nonce}}">
  <!-- Google Tag Manager -->
  <script nonce='{{ globals.nonce }}'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N2TBV3X8');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2TBV3X8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      {% if errors.documents %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must select what you want to upload",
              href: "#document-type"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Tell us which documents you want to upload</h1>

      <p class="govuk-body">
        Start typing the document you want to upload (for example, 'payslips') in the box below. 
        You will then be able to choose your document.
      </p>

      <p class="govuk-body">
        When you have chosen the document you want to upload, select 'Add document'. 
        You can add more than one document to upload.
      </p>

      <form method="post" data-document-type-selection>
        {{ autocomplete(
          id="document-type",
          name="documentType",
          label="What do you want to upload?",
          apiUrl="/autocomplete",
          eventName="document:selected",
          labelClass="govuk-label--m"
        ) }}

        {% if errors.documents %}
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors.documents }}
          </span>
        {% endif %}

        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-add-document-type>
          Add document
        </button>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Documents</h2>
        
        <p class="govuk-body" data-no-document-types>No documents added yet.</p>
        
        <div data-document-types-list></div>

        <input type="hidden" name="documentsJson" value='{% if values.documentsJson %}{{ values.documentsJson }}{% elif values.selectedDocumentTypes %}{{ values.selectedDocumentTypes | dump | safe }}{% else %}[]{% endif %}'>

        <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
