{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/getting-help.njk" import gettingHelp %}

{% extends "template.njk" %}

{% block head %}
  {{ super() }}
  <meta name="gtm-one-time" content="{{globals.nonce}}">
  <!-- Google Tag Manager -->
  <script nonce='{{ globals.nonce }}'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N2TBV3X8');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2TBV3X8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/dashboard" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        Back
      </a>

      <h1 class="govuk-heading-l">Previously uploaded documents</h1>

      <p class="govuk-body">
        You can download your previously uploaded documents on this page.
      </p>

      <p class="govuk-body">
        You cannot delete any documents that have already been uploaded. They have already been saved to your case.
      </p>

      <p class="govuk-body">
        You can upload an updated version of a previously uploaded document, or any additional documentation, if you need to.
      </p>

      {{ govukTable({
        head: [
          {
            text: "Date added"
          },
          {
            text: "Document type"
          },
          {
            text: "Document name"
          }
        ],
        rows: documentRows or []
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return to account",
          href: "/dashboard"
        }) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
