{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link">Back</a>
      {% endif %}

      <h1 class="govuk-heading-xl">Confidentiality</h1>

      <p class="govuk-body">This is a placeholder page for the confidentiality statement.</p>

    </div>
  </div>
{% endblock %}
