{% from "../macros/getting-help.njk" import gettingHelp %}

{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Documents uploaded
        </h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Your documents have been uploaded and have been saved to your case, ready for the judge to review at your hearing.
      </p>

      <p class="govuk-body">
        <a href="/dashboard" class="govuk-link">They can be viewed from your account</a>.
      </p>

      <p class="govuk-body">
        You can come back anytime to upload more documents.
      </p>

      <p class="govuk-body">
        You will receive an email to confirm that the upload was successful.
      </p>

      <a href="/dashboard" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Close and return to your account
      </a>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(contactEmail) }}
    </div>
  </div>
{% endblock %}
