{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% else %}
        <a href="/dashboard" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <h1 class="govuk-heading-l">Tell us which documents you want to upload</h1>

      <form method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="{{ cancelUrl }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
