{% from "../macros/getting-help.njk" import gettingHelp %}

{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previousStep %}
        <a href="/upload/{{ previousStep }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
      {% endif %}

      <h1 class="govuk-heading-l">Upload your documents</h1>

      <p class="govuk-body">
        Upload each of your documents in the corresponding section. 
        You will be able to check what you have uploaded before you submit them to the court.
      </p>

      {% if data.selectedDocumentTypes and data.selectedDocumentTypes.length > 0 %}
        <h2 class="govuk-heading-m">Documents to upload</h2>
        <ul class="govuk-list govuk-list--number">
          {% for doc in data.selectedDocumentTypes %}
            <li>{{ doc.label }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <form method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      {{ gettingHelp(email) }}
    </div>
  </div>
{% endblock %}
