{% macro viewDivorceCase(caseId) %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!
          finrem-section-break">
  <h2 class="govuk-heading-m">I want to...</h2>
  <p class="govuk-body">
    <a href="https://www.apply-divorce.service.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">View my divorce case (opens in a new tab)</a>
  </p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">

{% endmacro %}
